{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier mes informations</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

  

   
{% endblock %}
