{% extends 'base.html.twig' %}

{% block title %}categories{% endblock %}

{% block body %}
    <h1>Les catégories</h1>

    <table class="table">
        <thead>
            <tr>
            
                <th>Nom de la categories</th>
                
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
               
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Consulter la liste des articles</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune categories disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
